<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NHL Schedule 2013-2014</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

<script type=text/javascript>
var update = function() {
      $.getJSON($SCRIPT_ROOT + '/_get_schedule', {
        TARGET_TIMEZONE : $('#timezone').val(),
        START_FROM : $('#start').val(),
        END_BY : $('#end').val(),
        TEAM_FILTER : $('#team').val(),
        FILTER_TIME : $('#time').is(':checked')
      }, function(data) {
          $("#result").empty();
          if(typeof data.games === 'undefined') return;
          for (index = 0; index < data.games.length; ++index) {
            var str = data.games[index].target_time;
              tagline = data.games[index].home_team + ' vs ' + data.games[index].visiting_team;
              str = str + ' ' + tagline
              str = str + ' <a href="_get_ical?tagline=' 
                + tagline + '&time=' + data.games[index].target_time 
                + '&timezone=' + $('#timezone').val() + '">ic</a>'
              $("#result").append('<li>' + str + '</li>');
          }
      });
      return false;
    }
  $(function() {
    $('button#submit').bind('click', update);
    update();
  });

</script>


</head>
<body>
  <div class="header-container">
      <header class="wrapper clearfix">
          <h1 class="title">Nhl Schedule 2013-2014<br />with timezones</h1>
          <nav>
              <!--<ul>
                  <li><a href="#">nav ul li a</a></li>
                  <li><a href="#">nav ul li a</a></li>
                  <li><a href="#">nav ul li a</a></li>
              </ul>-->
          </nav>
      </header>
  </div>

  <div class="main-container">
      <div class="main wrapper clearfix">
  <form>
	<p>
    <label for="timezone">Timezone:</label>
        <input type="text" id="timezone" value='Europe/Helsinki'> <br />
        <input type="checkbox" id="time" checked="true" />         
        <label for="time">Time range:</label>
        <input class="short_box" type="text" id="start" value='7:00'> - 
        <input class="short_box" type="text" id="end" value='22:30'><br />        
        <label for="team">Team:</label>
        <select id="team">
            <option value="">--ALL TEAMS--</option>
            <option value="Nashville">Nashville</option>
            <option value="Chicago">Chicago</option>
            <option value="Philadelphia">Philadelphia</option>
            <option value="Winnipeg">Winnipeg</option>
            <option value="Vancouver">Vancouver</option>
            <option value="Montréal">Montréal</option>
            <option value="Calgary">Calgary</option>
            <option value="Carolina">Carolina</option>
            <option value="Columbus">Columbus</option>
            <option value="Phoenix">Phoenix</option>
            <option value="Pittsburgh">Pittsburgh</option>
            <option value="NY Islanders">NY Islanders</option>
            <option value="Dallas">Dallas</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Toronto">Toronto</option>
            <option value="San Jose">San Jose</option>
            <option value="Florida">Florida</option>
            <option value="Detroit">Detroit</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Anaheim">Anaheim</option>
            <option value="Ottawa">Ottawa</option>
            <option value="Tampa Bay">Tampa Bay</option>
            <option value="Buffalo">Buffalo</option>
            <option value="St. Louis">St. Louis</option>
            <option value="Colorado">Colorado</option>
            <option value="New Jersey">New Jersey</option>
            <option value="Boston">Boston</option>
            <option value="Edmonton">Edmonton</option>
            <option value="Washington">Washington</option>
            <option value="NY Rangers">NY Rangers</option>
        </select>
    	</p>
    <p>           
    <button type="button" id="submit">Filter games</button>
  </p>
	</form>
	<ol id=result></ol>
    
  <p>If you are like me, you live far away from US ET -timezone, which makes it hard to check the schedule for nhl games from
      <a href="http://www.nhl.com/ice/schedulebyseason.htm">NHL site</a>. Also because the time difference is so huge, at least I am mostly interested in
      games which are not showing in the middle of the night locally. This tool can translate the timezone to what you prefer (showing the game starting time in your local time), and additionally filter the games you are interested in,
      based on team and on "on-air" -hours. By default it will show games which start between 7:00 and 22:30 in Finland. If you don't live in
      Finland, check the list of acceptable timezones from <a href="http://en.wikipedia.org/wiki/List_of_tz_database_time_zones">wikipedia</a>.
  </p>
  <p>As a bonus you can save the game to your favourite calendar by downloading the ical item.</p>
    
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p><a href="https://github.com/glebb/Nhl-Schedule-translate-2013-2014">source</a>
            </footer>
        </div>

        <script languag="javascript">
          $('#time').change(function() {
              $('#start').attr('disabled',! this.checked)
              $('#end').attr('disabled',! this.checked)      
          });
        </script>

        <script>
            var _gaq=[['displayofpatience.net','UA-44272371-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
    </body>
</html>


</body>
</html>